/* 
project fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}
.l-space-btn {
  letter-spacing: 1.5px;
}
.depo-bg {
  background: rgb(0, 150, 100);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 100, 1) 31%,
    rgba(3, 169, 244, 1) 180%
  );
}
.with-bg {
  background: rgb(186, 104, 200);
  background: linear-gradient(
    180deg,
    rgba(186, 104, 200, 1) 33%,
    rgba(239, 83, 80, 1) 180%
  );
}
.bg {
  background-color: black;
}
@media screen and (max-width: 576px) {
  body {
    background-color: #d4e6f1;
  }
  .main-container {
    width: 100%;
    margin-bottom: 20px;
  }
  section {
    width: 97% !important;
    text-align: center;
  }
  .log-input input {
    width: 100%;
  }
  .grid-md,
  .grid-cal-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .header-bank h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
   .bank-section>div {
    width: 100%;
    margin-left: 10px;
  }
  .div-align {
    text-align: center;
    width: 95%;
    padding: 15px 20px;
  }
  .div-align input {
    width: 100%;
  }
  .bttm-div {
  }
}
